* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
}

body {
  background-color:floralwhite;
}

header {
  background-color: aqua;
  border: 1px solid black;
}

h1 {
  text-align: center;
  font-size: 25px;
  padding: 12px;
}

nav {
  background-color: cornflowerblue;
}

nav a {
 color: white;
 display: inline-block;
 padding: 10px;
 font-size: 12px;
}

nav a:hover {
  font-weight: bold;
}

img {
  width: 400px;
}

#first-image {
  padding-left: 20px;
  padding-bottom: 20px;
}

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#fatos-paragrafo {
  width: 400px;
  height: 300px;
  margin-left: 50px;
  padding-right: 12px;
  padding-left: 12px;
  text-align: justify;
  overflow:scroll;
  display: inline-block;
}

#visao {
  background-color: cornflowerblue;
  margin-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
}

#title-vision {
  color: white;
}

#second-image {
  float: right;
  margin-right: 20px;
  padding-top: 15px;
}

#vision-paragrafo {
  width: 400px;
  height: 300px;
  padding-right: 12px;
  padding-left: 12px;
  text-align: justify;
  overflow: scroll;
  color: white;
}

#classification-title {
  padding-top: 40px;
  padding-bottom: 40px;
}

#third-image {
  border-radius: 60%;
  margin-left: 50px;
}

#cassification-paragrafy {
  float: right;
  background-color: cornflowerblue;
  border: 10px solid black;
  margin: 40px 100px;
  color: whitesmoke;
  padding: 10px 10px;
}

#fonts {
  background-color: cornflowerblue;
  margin-top: 60px;
}

#fonts-paragrafy {
  color: whitesmoke;
  display: inline-block;
  margin-left: 20px;
}

.fonts-links {
  color: whitesmoke;
  margin-left: 30px;
}

.fonts-links:hover {
  font-weight: bold;
}

#aside {
  padding: 20px;
}

#aside-paragrafy {
  font-weight: bold;
}

#saiba-mais {
  background-color: turquoise;
  padding: 10px;
  margin-left: 10px;
  border-radius: 30px;
  color: whitesmoke;
}

#saiba-mais:hover {
  font-weight: bold;
}

#saiba-mais:active {
  font-weight: 100;
}

#footer {
  background-color: cornflowerblue;
  padding: 100px 20px 20px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
  border: 1px solid black;
}
